extends layout

block content
  h1= title
  p Welcome to #{title}
p Music is not just a part of life. it brings every non living thing alive. There's a famous line says that "Even rocks can be melted with music".
